<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Custom errors (hide detailed server errors for security) -->
        <httpErrors errorMode="Custom" />
        
        <!-- Default document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        
        <!-- Fix Request Filtering -->
        <security>
            <requestFiltering>
                <!-- Allow common file extensions -->
                <fileExtensions allowUnlisted="true">
                    <clear />
                    <add fileExtension=".js" allowed="true" />
                    <add fileExtension=".css" allowed="true" />
                    <add fileExtension=".json" allowed="true" />
                    <add fileExtension=".php" allowed="true" />
                    <add fileExtension=".html" allowed="true" />
                    <add fileExtension=".htm" allowed="true" />
                    <add fileExtension=".png" allowed="true" />
                    <add fileExtension=".jpg" allowed="true" />
                    <add fileExtension=".gif" allowed="true" />
                    <add fileExtension=".ico" allowed="true" />
                    <add fileExtension=".svg" allowed="true" />
                    <add fileExtension=".woff" allowed="true" />
                    <add fileExtension=".woff2" allowed="true" />
                    <add fileExtension=".ttf" allowed="true" />
                </fileExtensions>
                
                <!-- Clear any hidden segments that might block js folder -->
                <hiddenSegments>
                    <clear />
                </hiddenSegments>
                
                <!-- Allow reasonable request limits -->
                <requestLimits maxAllowedContentLength="52428800" maxUrl="4096" maxQueryString="2048" />
            </requestFiltering>
        </security>
        
        <!-- Static content handling (remove first to avoid duplicate MIME type errors) -->
        <staticContent>
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
        
        <!-- Remove problematic headers -->
        <httpProtocol>
            <customHeaders>
                <remove name="X-Content-Type-Options" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Directory browsing disabled for security -->
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>